// fade
.fade-enter-active
.fade-leave-active
  transition: all 0.5s
.fade-enter
.fade-leave-active
  opacity: 0
  transform: translateY(-30px)

// fade-bottom
.fade-bottom-enter-active
.fade-bottom-leave-active
  transition: all 0.5s
.fade-bottom-enter
.fade-bottom-leave-active
  opacity: 0
  transform: translateY(30px)

// flip
.flip-enter-active
.flip-leave-active
  transition: all 0.5s
  transition-timing-function: ease-out
.flip-enter
.flip-leave-active
  opacity: 0
  transform: translateY(-10px) rotateX(-180deg) scaleY(0.5)

// opacity
.opacity-enter-active
.opacity-leave-active
  transition: all 0.3s
  transition-timing-function: ease-out
.opacity-enter
.opacity-leave-active
  opacity: 0
  
// messaging
.messaging-enter-active
.messaging-leave-active
  transition: all 0.4s
  transition-timing-function: ease-out
.messaging-enter
.messaging-leave-active
  opacity: 0
  transform: translate(430px, -15px) scale(0.1, 0.1)
  