// 首页字体
//首页标题颜色（大标题）
$color-item-title = #1e2022
//首页更多，新闻时间，人员国籍
$color-item-more = #a0a0a1
//首页内容（新闻，合作伙伴）
$color-detail-content = #4c4948
//首页人名，新闻标题，
$color-detail-title = #222222
//首页获奖标题颜色
$color-detail-title = #000000

// 首页字体规范
//首页标题字体大小（大标题）
$font-size-item-title = 24px
//首页次标题字体大小（更多，新闻时间，人员国籍）
$font-size-item-little = 12px
//首页内容标题字体大小（新闻、获奖选手、人员名称）
$font-size-detail-title = 14px
//首页内容正文字体大小，合作伙伴名
$font-size-detail-content = 13px

// 2.0 颜色规范(颜色种类: back,text,layer; 颜色命名: 主观色值英文_编号)

$color-back-silvery_0 = #eaf4fb
$color-back-gray_0 = #ffffff
$color-back-white_0 = #FFFFFF