// 首页字体
//首页标题颜色（大标题）
$color-item-title = #1e2022
//首页更多，新闻时间，人员国籍
$color-item-more = #a0a0a1
//首页内容（新闻，合作伙伴）
$color-detail-content = #4c4948
//首页人名，新闻标题，
$color-detail-title = #222222
//首页获奖标题颜色
$color-detail-title = #000000

// 首页字体规范
//首页标题字体大小（大标题）
$font-size-item-title = 24px
//首页次标题字体大小（更多，新闻时间，人员国籍）
$font-size-item-little = 12px
//首页内容标题字体大小（新闻、获奖选手、人员名称）
$font-size-detail-title = 14px
//首页内容正文字体大小，合作伙伴名
$font-size-detail-content = 13px

// 2.0 颜色规范(颜色种类: back,text,layer; 颜色命名: 主观色值英文_编号)

$color-back-silvery_0 = #eaf4fb
$color-back-gray_0 = #ffffff
$color-back-white_0 = #FFFFFF
$color-back-white_1 = rgba(255, 255, 255, 0.6)
$color-back-black_0 = rgba(0, 0, 0, 0.4)
$color-back-black_1 = #303131
$color-back-black_2 = #2b2c2c
$color-back-black_3 = #525b68
$color-back-black_4 = rgba(0, 0, 0, 0.1)
$color-back-silvery_0 = #eaf4fb
$color-back-gray_0 = #afb5ba
$color-back-gray_1 = #87959f
$color-back-gray_2 = #f0f4f7
$color-back-gray_3 = #F6F8FA
$color-back-gray_4 = #98A8BA
$color-back-gray_5 = #A7B4C8
$color-back-gray_6 = #F7F9FA
$color-back-gray_7 = #FAFBFC
$color-back-gray_8 = #F5F6FA
$color-back-gray_9 = #F0F2F5
$color-back-gray_10 = #E8E9ED
$color-back-blue_0 = #2E89D6
$color-back-blue_1 = #9BCDED
$color-back-blue_2 = #F6FAFF
$color-back-blue_3 = #56A4E3
$color-back-blue_4 = rgba(46, 137, 214, 0.96)
$color-back-blue_5 = #68B0EC
$color-back-blue_6 = #4498E0
$color-back-blue_7 = #2F466C
$color-back-blue_8 = #39527B
$color-back-yellow_0 = #FFC602
$color-back-yellow_1 = #FFEDC9
$color-back-yellow_2 = #FFAD6B

$color-text-white_0 = rgba(255, 255, 255, 0.98)
$color-text-white_1 = #fafafa
$color-text-black_0 = #212B34
$color-text-black_1 = #525a67
$color-text-black_2 = #525c66
$color-text-black_3 = #828485
$color-text-black_4 = #41484C
$color-text-black_5 = #707273
$color-text-black_6 = #E3E4E6
$color-text-black_7 = #44464D
$color-text-black_8 = #A6A6A6
$color-text-black_9 = #0D121D
$color-text-black_10 = #586166
$color-text-black_11 = #1E2022
$color-text-black_12 = #626466
$color-text-black_13 = #343638
$color-text-black_14 = #191A1B
$color-text-blue_0 = #2E89D6
$color-text-blue_1 = #3498DB
$color-text-blue_2 = #D5E2F7
$color-text-gray_0 = #DAE3EB
$color-text-gray_1 = #34495E
$color-text-gray_2 = #87959F
$color-text-gray_3 = #c2c7cc
$color-text-gray_4 = #9aabb8
$color-text-gray_5 = #6C7880
$color-text-gray_6 = #a4acb3
$color-text-gray_7 = #f1f8fd
$color-text-gray_8 = #bbb
$color-text-gray_9 = #778c99
$color-text-gray_10 = #5e5e5f
$color-text-gray_11 = #7C7E80
$color-text-gray_12 = #9FA3B3
$color-text-gray_13 = #41484D
$color-text-gray_14 = #7D808C
$color-text-gray_15 = #64686C
$color-text-orange_0 = #FF5900
$color-text-orange_1 = #FF6A38
$color-text-green_0 = rgba(0, 0, 0, 0) /* 废弃 */

$color-layer-gray_0 = #e9eef0
$color-layer-gray_1 = #e3e5e5
$color-layer-gray_2 = #bec6cc
$color-layer-gray_3 = #E4E9EB
$color-layer-gray_4 = #d8d8d8
$color-layer-gray_5 = #ced4e0
$color-layer-gray_6 = #f2f2f2
$color-layer-gray_7 = #E1E4EB
$color-layer-gray_8 = #EDEFF0
$color-layer-gray_9 = #E6E7EB
$color-layer-blue_0 = #DBEBFD
// 2.0 字体规范
$font-size-level_0 = 10px
$font-size-level_1 = 12px
$font-size-level_2 = 14px
$font-size-level_3 = 16px
$font-size-level_4 = 18px
$font-size-level_5 = 20px
$font-size-level_6 = 22px
$font-size-level_7 = 24px
$font-size-level_8 = 26px
$font-size-level_9 = 28px
$font-size-level_10 = 30px
$font-size-level_11 = 32px
$font-size-level_12 = 34px
$font-size-level_13 = 36px